.header-include-html {
    width: 150px;
}

.div-testing-Done {
    display: flex;
}

.div-todo-progress {
    display: flex;
}

.all-boxes {
    width: calc(100% - 150px);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.board {
    display: flex;
}

.board-box {
    width: 350px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 8px;
}

.board-content {
    background-color: #F4F3FB;
    overflow: auto;
    height: 800px;
    padding: 20px;
}

.ticket-color {
    background-color: rgb(252, 176, 118);
    border-radius: 10px;
    padding-left: 8px;
}

.ticket {
    padding: 10px;
    font-size: 18px;
    background-color: white;
}

.category-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    color: #F4F3FB;
    font-weight: 600;
}

@media (max-width: 1550px) {

    .div-todo-progress {
        flex-direction: column;
    }

    .div-testing-Done {
        flex-direction: column;
    }

    .board-box {
        width: 600px;
    }

    .board-content {
        height: 350px;
    }
}

@media (max-width: 1350px) {

    .div-todo-progress {
        margin-top: -65px;
    }

    .all-boxes {
        flex-direction: column;
        align-items: center;
        margin-top: 106px;
    }

    .board-box {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .div-todo-progress {
        margin-top: 40px;
    }

    .board {
        flex-direction: column;
        align-items: center;
    }
    
    .header-include-html {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .board-box {
        width: 300px;
    }

    .header-include-html {
        width: 100%;
    }
}