* {
    font-family: 'PT Sans';
}

body {
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.word-wrap {
    word-wrap: break-word;
}

.align-center {
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.bg-blue {
    background-color: rgb(113, 149, 254);
}

/* Image */
.img-20 {
    width: 20px;
}

.img-25 {
    width: 25px;
}

.img-50 {
    width: 50px;
}

.img-75 {
    width: 75px;
}

.img-100 {
    width: 100px;
}

.img-150 {
    width: 150px;
}

.img-200 {
    width: 200px;
}

.img-250 {
    width: 250px;
}

.img-500 {
    width: 500px;
}

.header-template {
    width: 150px;
}

.bl-w-100 {
    width: calc(100% - 150px);
}

.content-bg {
    background-color: #F4F3FB;
}

.bl-w-50 {
    width: 50%;
}

@media (max-width: 768px) {
    .bl-w-50 {
        width: 100%;
    }

    .h-details {
        display: none !important;
    }

    .rs-mt {
        margin-top: 10px;
    }

    .header-template {
        width: 0;
    }

    .bl-w-100 {
        width: 100%;
    }
}


/* Login */

.img-design {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.login-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 64px;
    border-radius: 10px;
}

.login-container h1 {
    color: white;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-design {
    display: flex;
    flex-direction: column;
}

.input-design {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}

.login-btn-design {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(251, 252, 255, 0.2);
    transition: all 225ms ease-in-out;
}

.login-btn-design:hover {
    background-color: rgba(30, 49, 144, 1);
    transition: all 225ms ease-in-out;
}

.extra {
    font-weight: bold;
    color: white;
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

.line {
    font-weight: bold;
    color: white;
}

.extra:hover {
    color: rgb(30, 49, 144);
    transition: all 225ms ease-in-out;
}