* {
    font-family: 'PT Sans';
}

body {
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.word-wrap {
    word-wrap: break-word;
}

.align-center {
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.bg-blue {
    background-color: rgb(113, 149, 254);
}

/* Image */
.img-20 {
    width: 20px;
}

.img-25 {
    width: 25px;
}

.img-50 {
    width: 50px;
}

.img-75 {
    width: 75px;
}

.img-100 {
    width: 100px;
}

.img-150 {
    width: 150px;
}

.img-200 {
    width: 200px;
}

.img-250 {
    width: 250px;
}

.img-500 {
    width: 500px;
}

.content-bg {
    background-color: #F4F3FB;
}

.bl-w-50 {
    width: 50%;
}

@media (max-width: 768px) {
    .bl-w-50 {
        width: 100%;
    }

    .h-details {
        display: none !important;
    }

    .rs-mt {
        margin-top: 10px;
    }
}