<div class="overflow">
    <div class="header">
        <div class="header-child">
            <div class="img-center">
                <img class="img-50 mt-5" src="../img/logo.png" alt="">
            </div>
            <a class="mt-5 mb-2" href="">Board</a>
            <a class="mb-2" href="">Backlog</a>
            <a class="mb-2" href="">Add Task</a>
            <a href="">Help</a>
        </div>
        <img class="mb-5 placeholder-responsive" src="../img/placeholder.png" alt="">
        <img id="openNav" onclick="openNavMenu()" class="menu-design img-25 me-5" src="../img/menu.png" alt="">
        <img id="closeNav" onclick="closeNavMenu()" class="menu-design img-25 me-5 d-none" src="../img/menu.png" alt="">
    </div>
    <!-- Responsive-Container -->
    <div id="responsive" class="responsive-container">
        <div class="responsive-container-child">
            <a class="mb-2 mt-5" href="">Board</a>
            <a class="mb-2" href="">Backlog</a>
            <a class="mb-2" href="">Add Task</a>
            <a class="mb-2" href="">Help</a>
        </div>
        <div>
            <img class="mb-5" src="../img/placeholder.png" alt="">
        </div>
    </div>
</div>